<a href="https://colab.research.google.com/github/rachelsseo/DS1002A/blob/main/HW06Pandas_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas exercises 1

1. Import dependencies

In [30]:
import pandas as pd

---

In [31]:
list = [98, 24, 46, 87, 33]

2. Convert `list` to a pandas series using `pd.Series`

In [32]:
list = pd.Series(list)

3. Take the above series and add an index that starts at 2 and steps by 3

In [33]:
list1 = [98, 24, 46, 87, 33]

In [34]:
list1.index

In [35]:
new_index = range(2,2+len(list1)*3 ,3)
new_list = pd.Series(list1, new_index)
print (new_list)

2     98
5     24
8     46
11    87
14    33
dtype: int64

4. Create a dictionary of 4 names, ages, and careers   
Convert this dictionary to a pandas dataframe: `df`.  
Print the dataframe.

In [36]:
data = {
    'Name': ['Micah', 'Sabrina', 'Caleb', 'Anna'],
    'Age': [23, 30, 45, 26],
    'Career': ['Engineer', 'Nurse', 'Doctor', 'Consultant']
}

df = pd.DataFrame(data)
print(df)

      Name  Age      Career
0    Micah   23    Engineer
1  Sabrina   30       Nurse
2    Caleb   45      Doctor
3     Anna   26  Consultant

5. Name the index of `df` 'participant_id'.  
Print `df`.

In [37]:
df = pd.DataFrame(data, index=['participant_id_1', 'participant_id_2', 'participant_id_3', 'participant_id_4'])

6. Use a pandas function to determine the data types of the columns of `df`.

In [38]:
print(df.dtypes)

Name      object
Age        int64
Career    object
dtype: object

7. Using bracket notation, reference column `name`

In [39]:
name_column = df['Name']
print(name_column)

participant_id_1      Micah
participant_id_2    Sabrina
participant_id_3      Caleb
participant_id_4       Anna
Name: Name, dtype: object

8. Using dot notation, reference column `name`

In [40]:
name_column = df.Name
print(name_column)

participant_id_1      Micah
participant_id_2    Sabrina
participant_id_3      Caleb
participant_id_4       Anna
Name: Name, dtype: object

8. Reference column `name` and have it returned in a dataframe.

In [41]:
name_df = df[['Name']]
print(name_df)

                     Name
participant_id_1    Micah
participant_id_2  Sabrina
participant_id_3    Caleb
participant_id_4     Anna

9. Show the 3rd element in column `career`.

In [42]:
career_3 = df['Career'][2]
print(career_3)

Doctor

10.  Load the `iris` dataset that we used in class.  Use `iris` as the name of your data frame.

In [43]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

11.  What is the correlation between the variables `sepal_length` and `sepal_width` for all the irises?

In [44]:
correlation = iris['sepal_length'].corr(iris['sepal_width'])
print("Correlation between sepal_length and sepal_width:", correlation)

Correlation between sepal_length and sepal_width: -0.11756978413300208

12.  Which of the three species has the highest correlation between `sepal_length` and `sepal_width`?  Show any calculations you use to support your answer.

In [45]:
setosa_df = iris[iris['species'] == 'setosa']
correlation_setosa = setosa_df[['sepal_length','sepal_width']].corr()
print(correlation_setosa)

versicolor_df = iris[iris['species'] == 'versicolor']
correlation_versicolor = versicolor_df[['sepal_length','sepal_width']].corr()
print(correlation_versicolor)

virginica_df = iris[iris['species'] == 'virginica']
correlation_virginica = virginica_df[['sepal_length','sepal_width']].corr()
print(correlation_virginica)

              sepal_length  sepal_width
sepal_length      1.000000     0.742547
sepal_width       0.742547     1.000000
              sepal_length  sepal_width
sepal_length      1.000000     0.525911
sepal_width       0.525911     1.000000
              sepal_length  sepal_width
sepal_length      1.000000     0.457228
sepal_width       0.457228     1.000000

13.  Among the four variables, the two that are most negatively correlated (overall) are sepal_width and petal_length. (How do we know this?) Determine the same thing but for each species separately: for each species, which two variables have the most negative (or the least positive) correlation? Again, include calculations to support your answer.

In [46]:
correlation_all = iris[['sepal_length','sepal_width','petal_length','petal_width']].corr()
smallest = correlation_all.min()
print(smallest)

#the correlation between sepal_width and petal_length is the smallest (-0.12)

correlation_all_setosa = setosa_df[['sepal_length','sepal_width','petal_length','petal_width']].corr()
smallest_setosa = correlation_all_setosa.min()
print(smallest_setosa)

#the correlation between sepal_width and petal_length is the smallest (0.18)

correlation_all_versicolor = versicolor_df[['sepal_length','sepal_width','petal_length','petal_width']].corr()
smallest_versicolor = correlation_all_versicolor.min()
print(smallest_versicolor)

#the correlation between sepal_length and sepal_width is the smallest (0.53)

correlation_all_virginica = virginica_df[['sepal_length','sepal_width','petal_length','petal_width']].corr()
smallest_virginica = correlation_all_virginica.min()
print(smallest_virginica)

#the correlation between sepal_length and sepal_width is the smallest (0.28)

sepal_length   -0.117570
sepal_width    -0.428440
petal_length   -0.428440
petal_width    -0.366126
dtype: float64
sepal_length    0.267176
sepal_width     0.177700
petal_length    0.177700
petal_width     0.232752
dtype: float64
sepal_length    0.525911
sepal_width     0.525911
petal_length    0.560522
petal_width     0.546461
dtype: float64
sepal_length    0.281108
sepal_width     0.401045
petal_length    0.322108
petal_width     0.281108
dtype: float64

14.  Once again, the variables sepal_width and petal_length are negatively correlated. But for each individual species, these two variables are positively correlated. How is this possible? Explain this phenomenon. Use a data visualization if it helps.

In [47]:
print(correlation_all)
print(correlation_all_setosa)
print(correlation_all_versicolor)
print(correlation_all_virginica)

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000
              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000     0.742547      0.267176     0.278098
sepal_width       0.742547     1.000000      0.177700     0.232752
petal_length      0.267176     0.177700      1.000000     0.331630
petal_width       0.278098     0.232752      0.331630     1.000000
              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000     0.525911      0.754049     0.546461
sepal_width       0.525911     1.000000      0.560522     0.663999
petal_length      0.754049     0.560522      1.000000     0.786668
petal_width       0.546461     0.663999      0.786668     1.000000
              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000     0.457228      0.864225     0.281108
sepal_width       0.457228     1.000000      0.401045     0.537728
petal_length      0.864225     0.401045      1.000000     0.322108
petal_width       0.281108     0.537728      0.322108     1.000000


From my research online, it is possible for variables to have different correlations within different subsets of the data becuase of a phenomenon that is referred to as "Simpson's paradox" or "reversal paradox." Simpson's paradox occurs when a trend appears in different groups of data but disappears or reverses when the groups are combined.

Although sepal_width and petal_length are negatively correlated overall, they can exhibit a positive correlation within each individual species when analyzed separately. This can happen because of the presence of confounding variables or different underlying patterns within each species.