<a href="https://colab.research.google.com/github/rachelsseo/DS1002A/blob/main/HW7_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [2]:
# Load pandas and the data
import pandas as pd
ride_sharing = pd.read_csv('./ride_sharing.csv')

In [5]:
ride_sharing

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27
...,...,...,...,...,...,...,...,...,...,...
25755,11 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5063,1,2000,Male,26
25756,10 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,34,Father Alfred E Boeddeker Park,5411,2,1998,Male,26
25757,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),5157,2,1995,Male,26
25758,14 minutes,15,San Francisco Ferry Building (Harry Bridges Pl...,42,San Francisco City Hall (Polk St at Grove St),4438,2,1995,Male,27
25759,29 minutes,16,Steuart St at Market St,115,Jackson Playground,1705,3,1990,Male,27

In [4]:
# show how many rows and columns are in this dataset

num_rows, num_cols = ride_sharing.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 25760
Number of columns: 10

In [7]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)

ride_sharing['duration'] = ride_sharing['duration'].str.strip('minutes')
ride_sharing['duration'] = ride_sharing['duration'].astype('int')

In [9]:
# Now display the datatypes in the updated dataframe
ride_sharing.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [10]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.

min_ride = ride_sharing['duration'].min()
max_ride = ride_sharing['duration'].max()

print("Shortest ride duration:", min_ride)
print("Longest ride duration:", max_ride)

Shortest ride duration: 1
Longest ride duration: 1372

In [11]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.

ride_60 = ride_sharing.query('duration <= 60')

print(ride_60)

       duration  station_A_id  \
0            12            81
1            24             3
2             8            67
3             4            16
4            11            22
...         ...           ...
25755        11            15
25756        10            15
25757        14            15
25758        14            15
25759        29            16

                                          station_A_name  station_B_id  \
0                                     Berry St at 4th St           323
1           Powell St BART Station (Market St at 4th St)           118
2      San Francisco Caltrain Station 2  (Townsend St...            23
3                                Steuart St at Market St            28
4                                  Howard St at Beale St           350
...                                                  ...           ...
25755  San Francisco Ferry Building (Harry Bridges Pl...            34
25756  San Francisco Ferry Building (Harry Bridges Pl...            34
25757  San Francisco Ferry Building (Harry Bridges Pl...            42
25758  San Francisco Ferry Building (Harry Bridges Pl...            42
25759                            Steuart St at Market St           115

                                      station_B_name  bike_id  user_type  \
0                                 Broadway at Kearny     5480          2
1                    Eureka Valley Recreation Center     5193          2
2                      The Embarcadero at Steuart St     3652          3
3                       The Embarcadero at Bryant St     1883          1
4                               8th St at Brannan St     4626          2
...                                              ...      ...        ...
25755                 Father Alfred E Boeddeker Park     5063          1
25756                 Father Alfred E Boeddeker Park     5411          2
25757  San Francisco City Hall (Polk St at Grove St)     5157          2
25758  San Francisco City Hall (Polk St at Grove St)     4438          2
25759                             Jackson Playground     1705          3

       user_birth_year user_gender  tire_size
0                 1959        Male         26
1                 1965        Male         27
2                 1993        Male         29
3                 1979        Male         26
4                 1994        Male         27
...                ...         ...        ...
25755             2000        Male         26
25756             1998        Male         26
25757             1995        Male         26
25758             1995        Male         27
25759             1990        Male         27

[25544 rows x 10 columns]

In [12]:
# Now show both the min and max values of the duration column for your new dataset.

min_ride60 = ride_60['duration'].min()
max_ride60 = ride_60['duration'].max()

print("Shortest ride duration:", min_ride60)
print("Longest ride duration:", max_ride60)

Shortest ride duration: 1
Longest ride duration: 60

In [14]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.

ride_60 = ride_60.query('tire_size == 26')

print(ride_60)

       duration  station_A_id  \
0            12            81
3             4            16
6            16            67
9             5            30
12            7             3
...         ...           ...
25750        15            16
25751        15            16
25755        11            15
25756        10            15
25757        14            15

                                          station_A_name  station_B_id  \
0                                     Berry St at 4th St           323
3                                Steuart St at Market St            28
6      San Francisco Caltrain Station 2  (Townsend St...           107
9         San Francisco Caltrain (Townsend St at 4th St)            62
12          Powell St BART Station (Market St at 4th St)            27
...                                                  ...           ...
25750                            Steuart St at Market St           371
25751                            Steuart St at Market St           371
25755  San Francisco Ferry Building (Harry Bridges Pl...            34
25756  San Francisco Ferry Building (Harry Bridges Pl...            34
25757  San Francisco Ferry Building (Harry Bridges Pl...            42

                                      station_B_name  bike_id  user_type  \
0                                 Broadway at Kearny     5480          2
3                       The Embarcadero at Bryant St     1883          1
6                              17th St at Dolores St     1035          2
9                        Victoria Manalo Draves Park      333          1
12                           Beale St at Harrison St     1863          3
...                                              ...      ...        ...
25750                     Lombard St at Columbus Ave     4372          2
25751                     Lombard St at Columbus Ave     5246          1
25755                 Father Alfred E Boeddeker Park     5063          1
25756                 Father Alfred E Boeddeker Park     5411          2
25757  San Francisco City Hall (Polk St at Grove St)     5157          2

       user_birth_year user_gender  tire_size
0                 1959        Male         26
3                 1979        Male         26
6                 1981        Male         26
9                 1994        Male         26
12                1998        Male         26
...                ...         ...        ...
25750             1994        Male         26
25751             1995        Male         26
25755             2000        Male         26
25756             1998        Male         26
25757             1995        Male         26

[12761 rows x 10 columns]

In [15]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.

female_riders = ride_60[ride_60['user_gender'] == 'FEMALE'].shape[0]

print("Number of records with FEMALE riders using 26-inch wheeled rental bikes for rentals of one hour or less:", female_riders)

Number of records with FEMALE riders using 26-inch wheeled rental bikes for rentals of one hour or less: 0

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [79]:
#Loading the data and NumPy
import numpy as np
messy_data = pd.read_csv('./more-messy-data.csv')

In [80]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.

messy_data.duplicated()

print(messy_data.duplicated().sum())

287

In [81]:
# Next, remove all duplicate rows using Python.

messy_data = messy_data.drop_duplicates()

In [84]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.

messy_data['sepal_length'].fillna(messy_data['sepal_length'].mean(), inplace=True)
messy_data['sepal_width'].fillna(messy_data['sepal_width'].mean(), inplace=True)

messy_data['petal_length'].fillna(messy_data['petal_length'].mean(), inplace=True)

messy_data = messy_data.drop(messy_data[messy_data['petal_width'] == 'gg29'].index)
messy_data['petal_width'] = pd.to_numeric(messy_data['petal_width'])
messy_data['petal_width'].fillna(messy_data['petal_width'].mean(), inplace=True)

In [85]:
# Find any values in the dataframe that are still missing, and delete them.
messy_data.dropna(inplace=True)

In [86]:
# How many different species are there?
species_count = messy_data['species'].nunique()

print(species_count)

10

In [87]:
# Clean up the 'species' variable so that there are exactly three different values.

species_names = ["virginica", "setosa", "Versicolor"]
messy_data = messy_data[messy_data['species'].isin(species_names)]

species_count = messy_data['species'].nunique()
print(species_count)

3

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))